<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">He's a great guy!</h2>
                <hr class="light">
                <p class="text-faded"> Arvid Berntsson is just an all around pleasant guy. Kind and respectable, but with just the right amount of sass. He loves joking around and exercises regularely. He also thinks that it's important to have hopes and goals in life. Great, right? </p>
                <a href="#" class="btn btn-default btn-xl">Don't click this button</a>
            </div>
        </div>
    </div>
</section>
