<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Hello there</h1>
            <hr>
            <p>Firstly, congratulation on finding this website. You are about to take your first step into getting to know Arvid, a 24 year old guy from Gothenburg. Currently, he's studying his masters in Lund though so you might want to head there if you want to meet him. </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
